<nav class="utility-bar">
  <a href="/" class="utility-icon" title="Home"><img src="/images/icon.png" alt="Home" /></a>
  <a href="/games/" class="utility-icon" title="Games"><img src="/images/games.png" alt="Games" /></a>
  <a href="/apps/" class="utility-icon" title="Apps"><img src="/images/apps.png" alt="Apps" /></a>
  <a href="/settings/" class="utility-icon" title="Settings"><img src="/images/settings.png" alt="Settings" /></a>
  <a href="/extras/" class="utility-icon" title="Extras"><img src="/images/extras.png" alt="Extras" /></a>
</nav>
